<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Polygon Datadownloader</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <style>
            .form-control{
                width: 80% !important;
            }

            .downloadBtn{
                float : right;
                width: 120px;
            }
        </style>
        
    </head>
    <body>
        <h1 id="tittle">Polygon Data Downloader</h1>
        <nav>
            <ul>
                <li>Historical Data</li>
                <li>Historical Trades</li>
                <li>Daily Snapshot</li>

            </ul>
        </nav>
        <h2>Historical Data</h2>
        <p>
            Enter symbol, timeframe, from Date, to Date and Limit to either download or display data.
        </p><br>
        <h3>Historical Data Form</h3>


        <div class="col-sm-12">
             <form action="process" method="POST">
            <div class="col-sm-8">
                 <table >
                <thead>

                    <th class="text-center">Security Type</th>
                    <th class="text-center">Symbol</th>
                    <th class="text-center">TimeFrame</th>
                    <th class="text-center">From Date</th>
                    <th class="text-center">To Date</th>

                </thead>
                <tbody>

                    <td>
                    <select name="securityType" value="Equity" class="form-control">
                            <option>Equity</option>
                            <option>Currency</option>
                            <option>Crypto</option>

                        </select>
                    </td>
                    <td><input class="form-control" name="symbol" placeholder="enter symbol" ></td>
                    <td>
                        <select name="timeframe" value="Day" class="form-control">
                            <option>Day</option>
                            <option>Hour</option>
                            <option>Minute</option>
                            <option>5 Min</option>
                            <option>30 Min</option>
                        </select>
                    </td>
                    <td> <input name="fromDt" type="text" class="datepicker form-control" ></td>
                    <td><input  name="toDt" type="text" class="datepicker form-control" ></td>


                    <td><button  type="submit" class="btn btn-primary downloadBtn" > Download</button></td>
            <!--        <td><button  type="submit"  class="btn btn-primary downloadBtn" > Show</button></td> -->
                </tbody>

              </tr>
            </table>
            </div>





            </form>
            <table class="table" style="margin-top:15px;">
            <!--     <tr><td>tick y </td><td>tick q </td></tr> -->
                {% for tick in data.results %}
                <tr>
                    <td>{{ tick.t }} </td>
                    <td>{{ tick.q }} </td>
                </tr>
                 {% endfor %}

            </table>



        </div>

    <script>
      $( function() {
        $( ".datepicker" ).datepicker();

      });
  </script>
    </body>
</html>